@media (max-width: 950px) {
    #welcome_form{
        width: 50vw;
        padding: 2vh 3vw;
    }
    #name_input {
        margin: 1vh 0;
        width: 85%;
    }
    #welcome_form label {
        margin: 0;
    }
    #get_started {
        margin: 1vh 0;
    }
    .app_area{
        width: 75vw;
        height: 50vh;
    }
    .trash_items{
        width: 25vw;
        padding: 2vh 2vw;
    }
    .deleted1{
        width: 100%;
    }
    #model_display, #model_display2{
        left: 27vw;
    }
    .modal_window{
        width: 35vw;
    }
    .add_heading_input{
        width: 90%;
    }
    .event_date, .event_time{
        width: 80%;
    }
    #task_activity1{
        width: 90%;
        max-width: 90%;
    }
    .add_activity_input{
        width: 90%;
    }
    .add_activity{
        width: 100%;
    }
    .custom_alert{
        width: 70vw;
        margin-left: 12.5vw;
    }
}



@media (max-width: 750px) {
    .app_area{
        width: 80vw;
    }
    #model_display, #model_display2{
        left: 22vw;
    }
    .modal_window{
        padding: 2vh 3vw;
        width: 50vw;
    }
    .trash_items{
        width: 30vw;
    }
    .custom_alert{
        width: 70vw;
        margin-left: 12.5vw;
    }
}
@media (max-width: 600px) {
    .app_area{
        width: 90vw;
    }
    .trash_items{
        width: 37vw;
    }
    #model_display, #model_display2{
        left: 15vw;
    }
    .modal_window{
        padding: 2vh 3vw;
        width: 60vw;
    }
    .custom_alert{
        width: 80vw;
        margin-left: 6vw;
    }
    #welcome_form{
        width: 70vw;
    }
}

@media (max-width: 500px) {
    .app_area{
        width: 95vw;
    }
    .modal_window{
        width: 70vw;
    }
    #model_display, #model_display2{
        left: 12vw;
    }
    .custom_alert{
        width: 80vw;
        margin-left: 6vw;
    }
}
@media (max-width: 450px) {
    .app_area{
        width: 98vw;
    }
    .modal_window{
        width: 70vw;
    }
    #model_display, #model_display2{
        left: 12vw;
    }
    .custom_alert{
        width: 80vw;
        margin-left: 6vw;
    }
}
