*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.911);
}
.app_area{
    width: 50vw;
    height: 64vh;
    background-color: rgba(28, 121, 68, 0.781);
    margin: 5vh auto;
    margin-top: 20vh;
    position: relative;
}
.default1{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 1vw;
    width: 86%;
    background-color: #fff;
    padding: 2vh;
    border-radius: 0.3em;
    margin: 2vh auto;
}
.default2{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 1vw;
    width: 86%;
    background-color: #fff;
    padding: 2vh;
    border-radius: 0.3em;
    margin: 2vh auto;
}
.todo_heading{
    text-align: center;
    padding: 1vh 0;
    padding: 1vh 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
}
.task_heading{
    text-transform: uppercase;
}
.adding_main{
    cursor: pointer;
}
#model_display, #model_display2{
    position: fixed;
    top: 17%;
    left: 34%;
    width: 25vw;
    box-shadow: 2px 12px 34px  rgba(0, 0, 0, 0.815);
    display: none;
}


.modal_window{
    background-color: white;
    padding: 2vh 6vh;
    width: 27vw;
    padding-top: 0;
    position: relative;
    padding-bottom: 1vh;
    border: 2px solid black;
    z-index: 100;
    height: 65vh;
}
.modal_window_header{
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
}
.modal_window_heading{
    text-transform: uppercase;
}
.cancle_modal_window{
    transform: rotateZ(45deg);
    font-weight: bolder;
    font-size: 7vh;
    position: absolute;
    right: 2vw;
    top: 1vh;
    cursor: pointer;
}
.add_heading_input{
    width: 24.2vw;
    height: 6.5vh;
    padding: 0 1vw;
    border: 2px solid black;  
    margin: 1vh 0;
}
.add_activity_input{
    width: 24.2vw;
    max-width: 24.2vw;
    height: 14vh;
    max-height: 14vh;
    padding: 1vh 1vw;
    margin: 1vh 0;
    border: 2px solid black;
}
.date_and_time{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}
.event_date, .event_time{
    width: 10.36vw;
    padding: 0 1vw;
    height: 5vh;
    margin: 1vh 0;
    border: 2px solid black;
}

.add_activity{
    width: 26.3vw;
    height: 6vh;
    background-color: #03b65c;
    border: 0;
    /* border-radius: 0.3em; */
    padding: 1.3vh;
    margin: 3vh 0;
    border-radius: 2em;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.add_activity:hover{
    background-color: rgb(8, 141, 74);
}



#trash{
    position: fixed;
    top: 1vh;
    right: 1vw;
    text-align: end;
}
.trash_btn{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.3em;
    padding: 1.4vh;
    background-color: rgb(44, 165, 104);
}
.trash_items{
    width: 20vw;
    background-color: rgba(250, 249, 249, 0.89);
    /* height: 30vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vh;
    padding: 2vh 1vw;
    /* padding-left: 2vw; */
    display: none;
}
.deleted1{
    background-color: rgb(12, 196, 91);
    text-align: center;
    padding: 2vh 1vw;
    width: 19vw;
    height: 8vh;
    margin-bottom: 2vh;
    text-transform: uppercase;
    /* color: lavender */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.deleted1:hover{
    background-color: seagreen;
}

.custom_alert{
    background-color: #03b65c;
    width: 30vw;
    text-align: center;
    position: fixed;
    top: 0;
    margin: 1vh auto;
    padding: 2vh;
    border-radius: 0.3em;
    margin-left: 34.5vw;
    color: white;
    font-size: 2.8vh;
    z-index: 150;
    display: none;
}
.discard{
    background-color: orangered;
    color: white;
    font-weight: bolder;
    padding: 1.4vh;
    border: 0;
    border-radius: 2em;
    text-transform: uppercase;
}
.stay{
    background-color: springgreen;
    color: white;
    font-weight: bolder;
    padding: 1.4vh;
    border: 0;
    border-radius: 2em;
    text-transform: uppercase;
}
#view_icon{
    display: none;
}

.add_icon_general{
    color: white;
    position: absolute;
    right: 2.7vw;
    font-size: 2rem;
}
#welcome_form{
    color: black;
    background-color: white;
    width: 30vw;
    height: 24vh;
    /* padding: 5vh auto; */
    padding-top: 3vh;
    margin: 34vh auto;
}
#welcome_form label{
    display: block;
    margin: 0 1vw;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
}
#name_input{
    width: 20vw;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}
#get_started{
    margin: 1vh 1vw;
    padding: 1.5vh 2vw;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 0.2em;
}
#get_started:hover{
    background-color: white;
    color: black;
}
#invalid_usename{
    margin: 1vh 1vw;
    font-size: 3vh;
    color: red;
    display: none;
}
